@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&family=Ubuntu&display=swap');
@import url("components/Loading/Loading.css"); 
@import url("components/Informacoes/Informacoes.css");
@import url("components/GameArea/GameArea.css");
@import url("components/IntroCreditos/IntroCreditos.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 70, 70);
}

.mobile{
    width: 375px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media (max-width: 450px){
    .mobile{
        width: 100vw;
    }
}